# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables - ҲАРГИЗ ба git нагузоред!
.env

# Static files
staticfiles/

# OS
.DS_Store
Thumbs.db